.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin-right: 30px;
}

.filters button:hover {
  opacity: 90%;
}
