.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin-right: 30px;
  margin-left: auto;
}

.filters button:hover {
  opacity: 90%;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  margin-left: 30px;
}

.locations {
  border-right: 1px #dddddd solid;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin-bottom: 5px;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
}
